m3_training_modules/src/main/app/delta-flights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="deltaFlightsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delta-flights" doc:name="HTTP"/>
        <ws:consumer config-ref="Web_Service_DeltaWS" operation="listAllFlights" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="88dfaabc-6b6b-4089-b1b4-b23a14399d4a">
            <dw:input-payload doc:sample="sample_data\listAllFlightsResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return map ((return , indexOfReturn) -> {
	ID: return.airlineName,
	code: return.code,
	price: return.price,
	departureDate: return.departureDate,
	origin: return.origin,
	destination: return.destination,
	emptySeats: return.emptySeats,
	plane: {
		type: return.planeType
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="deltaFindFlightsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delta-flights/{destination}" doc:name="HTTP"/>
        <set-variable variableName="destination" value="#[message.inboundProperties.'http.uri.params'.destination]" doc:name="Set Variable (destination)"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="48a15b49-afdb-4ac9-9e41-6bfba4758885">
            <dw:input-variable doc:sample="sample_data\map_string_string.dwl" variableName="destination"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: flowVars.destination as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_DeltaWS" operation="findFlight" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="88dfaabc-6b6b-4089-b1b4-b23a14399d4a">
            <dw:input-payload doc:sample="sample_data\listAllFlightsResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
	ID: return.airlineName,
	code: return.code,
	price: return.price,
	departureDate: return.departureDate,
	origin: return.origin,
	destination: return.destination,
	emptySeats: return.emptySeats,
	plane: {
		type: return.planeType
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
