m4_core_components/src/main/mule/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="get:\batch:m4_core_components-config">
		<logger level="INFO" message="get:\batch:m4_core_components-config" />
		<set-variable value="#[attributes.queryParams.routeId as Number]" doc:name="routeId" doc:id="5b935fd0-d596-4157-978c-047df2faa1db" variableName="routeId"/>
		<choice doc:name="Choice" doc:id="0629cfc7-8e78-4397-a245-7928c408fa6f" >
			<when expression="#[vars.routeId == 1]">
				<flow-ref doc:name="Flow Reference" doc:id="dc9992a1-659d-4a00-b370-8d21ec9e1a9e" name="batchFlow1"/>
			</when>
		</choice>
	
</flow>
	<flow name="batchFlow1" doc:id="b8154e29-2046-4501-b247-1fb55ed1ddb9">
		<set-payload value="#[1 to 200]" doc:name="Set Payload" doc:id="c2e8c8b0-9d48-4c1f-917a-bbf251841ff9" />
		<logger level="INFO" doc:name="Logger" doc:id="51d8ff43-8625-4fb9-8666-0ded7b8b64a9" message="#[payload]" />
		<set-variable value="#[uuid()]" doc:name="batchJobId" doc:id="3042eebe-8ba0-4ff9-ae54-a68c4be4f999" variableName="batchJobId"/>
		<batch:job jobName="batchBatch_Job" doc:id="44d041f9-b512-4d66-b06a-bd2f6e8ec554" blockSize="5" jobInstanceId="#[vars.batchJobId]">
			<batch:process-records>
				<batch:step name="Batch_Step1" doc:id="612a085e-fe0c-404b-9da5-87418d651e11">
					<logger level="INFO" doc:name="Logger" doc:id="40422019-ab7b-4c58-bf1f-e0160016e2e4" message="#['step 1 : ' ++ payload]" />
					<ee:transform doc:name="Transform Message" doc:id="5b308036-290f-48c1-b27e-582b332fa932">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="x"><![CDATA[%dw 2.0
output application/java
---
dw::Runtime::wait(randomInt(5000),5000)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="ae9f8ff4-0670-4796-ad78-bb12fb2039ef">
					<logger level="INFO" doc:name="Logger" doc:id="59dc88e0-5259-47a7-8e74-3edc868790c6" message="#['step 2 : ' ++ payload]" />
					<ee:transform doc:name="Transform Message" doc:id="4fe794e8-0d6b-4dde-bc6a-5d0799e36c8b">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="x"><![CDATA[%dw 2.0
output application/java
---
dw::Runtime::wait(randomInt(3000), 3000)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</batch:step>
				<batch:step name="Batch_Step3" doc:id="5218514c-9564-4305-973f-8cea0740a592" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="33da5b10-276c-4d89-8ca2-89fc682f5e1e" size="5">
						<logger level="INFO" doc:name="Logger" doc:id="e8ab54c1-6b9b-4a3c-9352-62275954fbe5" message="#[payload]" />
					</batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="a77886bc-d695-415f-a0f7-868ab52e8f20" message="#['step 3 : ' ++ payload]" />
					<ee:transform doc:name="Transform Message" doc:id="6db76b7e-57b3-4fab-81ff-650d50c7a8d8" >
						<ee:message />
						<ee:variables >
							<ee:set-variable variableName="x" ><![CDATA[%dw 2.0
output application/java
---
dw::Runtime::wait(randomInt(1000), 1000)]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	batchJobInstanceId : payload.batchJobInstanceId,&#10;	processedRecords: payload.processedRecords,&#10;	sucessfulRecords: payload.successfulRecords,&#10;	failedRecords: payload.failedRecords,&#10;	totalRecords: payload.totalRecords&#10;}]" doc:name="Set Payload" doc:id="13967d04-0e88-41d2-abde-ccfd592588e8" />
				<logger level="INFO" doc:name="Logger" doc:id="a5d593b2-2f7b-4340-aa12-8cf6105f8087" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	batchJobId : vars.batchJobId,&#10;	startDate: now() as LocalDateTime,&#10;	batchName: 'my-batch-job1',&#10;	batchStatus: 'STARTED'&#10;}]" doc:name="Set Payload" doc:id="d9cc9ff6-3e77-4e69-9d3f-7f75a790c9f9" />
	</flow>
</mule>
