m3_core_components/src/main/app/core_vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="get:/vm:core_components-config">
        <logger message="Processing VM message flow started" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.remote.address']" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="dispatchInQueue1"  doc:name="VM"/>
	</flow>
    
    <flow name="core_vmsubFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="dispatchInQueue1" doc:name="VM"/>
        <logger level="INFO" doc:name="Logger" message="Processing VM message flow completed"/>
    </flow>
</mule>
