common/m4-student-api/src/main/mule/m4-student-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="m4-student-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="m4-student-api-config" api="m4-student-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <import doc:name="Import" doc:id="3514ddf8-9133-4ec1-ab44-ccfd07b6ec2f" file="m4-common.xml" />
	<flow name="m4-student-api-main">
        <http:listener config-ref="m4-student-api-httpListenerConfig" path="/api/*">
            <ee:repeatable-file-store-stream bufferUnit="MB" />
			<http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<flow-ref doc:name="m4-audit-begin" doc:id="87e6a98f-4fca-41bd-9ac9-ceea0ac9e854" name="m4-audit-begin"/>
		<apikit:router config-ref="m4-student-api-config" />
		<flow-ref doc:name="m4-audit-end" doc:id="2a9ae02f-2908-4468-84ea-5a2785d9ce5f" name="m4-audit-end"/>
    </flow>
    <flow name="m4-student-api-console">
        <http:listener config-ref="m4-student-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="m4-student-api-config" />

    </flow>
    <flow name="get:\student:m4-student-api-config">
        <logger level="INFO" message="Get student api" />
		<ee:transform doc:name="Transform Message" doc:id="dad10725-e406-4030-862f-f91bc24ce83b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: 1234,
	name: "Veera",
	doj: now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
